@import url("navigationBarCSS.css"); /* The top navigation bar */
@import url("popupcss.css"); /* CSS for popup addEtape in addVoyage */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'latoheavy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


h2 {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	padding:0;
	margin:0;
}

h5 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0;
	margin: 0;
}

h3 {
	font-weight: bold;
	text-align: center;
	background-color: white;
	margin:0;
	padding: 1em;
}

h4 {
	font-weight: bold;
	padding: 1em;
	margin:0;
}

.partieLabel {
	font-weight: bold;
}

.ladescription {
	text-align: center;
}


#information {
	width: 70%;
	height: 100%;
	background-color: #f3f5f7;
}

#head {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAnGwjL.img?h=552&w=750&m=6&q=60&u=t&o=f&l=f&x=1093&y=766");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	padding: 1em;
}

#etapes {
}

.etape {
	background-color: white;
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 1em;
	padding-top: 0.1em;
}

.etapevoyage {
	background-color: white;
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 1em;
	padding-top: 0.1em;
	margin-bottom: 0.5em;
	border: 2px solid black;
}

.transition_etape {
	padding-left: 1em;
	margin-left: 2em;
	border-left: 0.3em solid;
	color: #8a99ad;
}

.nomEtape {
	font-size: 2em;
}

.villedate_etape {
	color: #8a99ad;
}

#root {
	height: 100%;
}

.App {
	height: 100%;
}

#principalMap {
	height: 90%;
}

#carteSide {
	border-left: 10px solid #303030;
	float: right;
	width: 30%;
	position: fixed;
	right: 0;
}

#ShowVoyageMap {
}




/* pour le formulaire */
input[type=text], input[type=password], input[type=submit], select, textarea {
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	margin-top: 15px;
}

.boutonsend {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	cursor: pointer;
}

	input[type=submit]:hover {
		background-color: #45a049;
	}

.formulaire {
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding:0;
	border: 1px solid black;
}

	.formulaire .partie {
		background-color: #f3f5f7;
	}

.partiedetails {
	background-color: white;
	padding: 1em;
}


